<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DLI Power Switch Control</title>
<style>
        table {
            width: 40%; /* Decreased overall table width */
            border-collapse: collapse;
        }
 
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
            width: 33%; /* Equal width for each column */
        }
 
        label {
            margin-right: 10px; /* Adjust the margin as needed */
        }
</style>
</head>
<body>
<h1>DLI Power Switch Control</h1>
 
    <h2>Control Buttons</h2>
<table>
<tr>
<th>Button Name</th>
<th>ON</th>
<th>OFF</th>
<th>Status</th>
</tr>
<form method="post" action="{{ url_for('control') }}">
            {% for outlet, custom_name in zipped_data %}
<tr>
<td><label for="button{{ outlet[0] }}">{{ custom_name }}</label></td>
<td><button type="submit" name="action_on_{{ outlet[0] }}" value="on">ON</button></td>
<td><button type="submit" name="action_off_{{ outlet[0] }}" value="off">OFF</button></td>
<input type="hidden" name="outlet" value="{{ outlet[0] }}">
<td id="status{{outlet[0]}}" class="status"></td>
</tr>
            {% endfor %}
</form>
</table>
<script>
	async function updateStatus(){
		// statuslist contains array of (plugnum, hostname, status) for each outlet
		fetch('/pman/statuslist')
			.then(response => response.json())
			.then(data => {
				data.forEach(item => {
					let plugnum = item[0]
					let on_or_off = item[2]
					console.log(plugnum, on_or_off)
					let td = document.getElementById(`status${plugnum}`)
					if(td){
						td.innerText = on_or_off;
						if(on_or_off == 'ON'){
							td.style.color = 'darkgreen';
						} else {
							td.style.color = 'darkred';
						}
					}
				});
			})
			.catch(error => console.error('Error fetching status list:', error));
	}
	// check immediately on page load
	updateStatus()
	// check periodically in case somebody else enacts a change
	setInterval(updateStatus, 3000);
	// no need to check on button click because button click submits form and resets page

</script>


</script>
</body>
</html>
